/* sélecteur de type élément */
p, a {
	color: blue;
}
span {
	background-color: lightgrey;
}
/* sélecteur de type "class" */
.police-taille-large {
	font-size: 1.5em;
}
.police-taille-x-large {
	font-size: 2.5em;
}
/* sélecteur de type "id" */
#instructions-speciales {
	border-bottom: 1px solid grey;
}